h1 {
    text-align: center;
}

#temp h3{
    color: blue;
}

body {
      background-image: url('bg.png');  
}

.img-center {
    text-align: center;
}

#center-path {
    display: inline-flex;
}

#home {
    width: 800px;
}

#home .floor {
    position: absolute;
    margin-left: 150px;
}

#home .ac {
    position: absolute;
    margin-top: 12px;
    margin-left: 370px;
}

#home .front-light1 {
    position: absolute;
    margin-top: 430px;
    margin-left: 285px;
}

#home .front-light2 {
    position: absolute;
    margin-top: 430px;
    margin-left: 510px;
}

#home .door {
    position: absolute;
    margin-top: 365px;
    margin-left: 360px;
}

#temp {
    position: relative;
    text-align: center;
}

.progress {
    transform: rotate(-90deg);
    width: 235px;
    height: 38px;
    background: transparent !important;
     box-shadow: none !important; 
     /* -webkit-box-shadow: none;  */
    position: absolute;
    margin-top: -340px;
    margin-left: -50px;
}

#tempNum {
    position: absolute;
    margin-top: -175px;
    margin-left: -25px;
    font-size: 45px;
    color: white;
}

#text {
    border: 2px solid yellow;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    color: blue;
    font-size: 40px;
     background-color: lightgoldenrodyellow; 
}