body {
    font-family: sans-serif;
    font-weight: bolder;
}

h1 {
    text-align: center;
}

body {
    background-image: url('bg.png');
}

.img-center {
    text-align: center;
}

#home .floor {
    position: absolute;
    margin-left: 100px;
}

#home .ac {
    position: absolute;
    margin-top: 12px;
    margin-left: 330px;
}