body {
    font-family: sans-serif;
    font-weight: bolder;
}

h1 {
    text-align: center;
}

body {
    background-image: url('bg.png');
    /* background-image: url('bg-night.png'); */
}

.img-center {
    text-align: center;
}

#home .floor {
    position: absolute;
    margin-left: 150px;
}

#home .ac {
    position: absolute;
    margin-top: 12px;
    margin-left: 370px;
}

#home .front-light1 {
    position: absolute;
    margin-top: 430px;
    margin-left: 285px;
}

#home .front-light2 {
    position: absolute;
    margin-top: 430px;
    margin-left: 510px;
}

#home .door {
    position: absolute;
    margin-top: 365px;
    margin-left: 360px;
}